# Image files (large files)
data_store/assignment_data_bdd/
data_store/test_data/
data_store/*.csv

# Python
__pycache__/

.venv
venv
env
*.pkl
.ipynb_checkpoints
Evaluations/predicted_labels/
Evaluations/eval_vis/
Evaluations/eval_vis_tpfpfn/
Evaluations/valdata_analysis_results.json


